/* orden secciones: TAGS, CLASES, IDS, EFECTOS, RESPONSIVE/media-queries */

$color-blanco: #ffffff;
$color-gris: #c0c0c0;
$color-negro: #000000;
$align-center: center;
$align-justify: justify;
$font-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$ff-arial: Arial, Helvetica, sans-serif;
$font-oversize: 120%;
$gal-img-size-sm: 250px;
$gal-img-size-md: 500px;
$gal-img-size-lg: 700px;

*{ /* reseter */
    font-family: $ff-arial;
    margin: 0;
    padding: 0;
    /*color: #f3e600; /* Pantone 3945C */
}

/* seccion TAGS */
body{
    background-image: linear-gradient(to bottom, $color-gris, $color-blanco, $color-blanco, $color-gris);
    img{
        background-image: url("../images/ph.png");
        background-position: $align-center;
        background-size: contain;
    }
    header{
        text-align: $align-center;
        a img{ /* aca pdria ir BEM */
            width: 162px;
            height: 126px;
        }
    }
    section, main{ text-align: $align-center; } /* comprimiendo para mayor legibilidad! */
    footer div{ text-align: $align-center; }
    h1{ margin: 20px; }
    p {
        font-weight: bolder;
        color: #055550;
        margin: 16px 0px;
    }
    a{
        text-decoration-line: none;
        color: #2f2f2f;
        font-family: $font-impact;
        font-weight: lighter;
        letter-spacing: 1px;
        em{ /* aca pdria ir BEM */
            text-transform: uppercase;
            font-family: $font-impact;
        }
    }
    hr{
        margin: 8px auto;
        min-width: 300px;
    }
    h2, h3{
        color: #311000;
        margin-top: 20px;
        line-height: 28px;
    }
    ul, ol{
        margin: 8px auto;
        padding-left: 20px;
        text-align: $align-center;
    }
    ul li{
        list-style: none;
        margin-left: 4px;
        color: #202020;
        padding-left: 0px;
    }
    nav{
        margin: 0px 0px 130px 0px;
        ul{
            padding-left: 0px;
            margin: -5px 0px;
            li{
                height: 25px;
                & a:hover, & a:focus{ /* aca pdria ir BEM */
                    animation: linkFocus 0.75s ease-in 0s 1 normal none running;
                    background-color: #b0b0b0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    font-size: $font-oversize;
                    margin: 0;
                    margin-left: 20px;
                    padding: 0;
                    height: 25px;
                    text-decoration-line: none;
                }
            }
        }
    }
    header img{
        border-radius: 35px;
        border: $color-negro double 5px;
    }
    article p {
        padding: 16px 10px;
        line-height: 1rem;
        img{
            border: $color-negro 3px dotted;
            padding: 3px;
            width: $gal-img-size-sm;
            height: $gal-img-size-sm;
            &:hover{ /* aca pdria ir BEM */
                border: $color-blanco 3px dotted;
            }
        }
    }
    table, th, tr, td{
        margin: auto;
        border: 1px solid $color-negro;
    }
    td{
        text-align: $align-justify;
        line-height: 20px;
        ul{
            margin-bottom: 0px;
            li{ /* aca pdria ir BEM */
                list-style-type: square;
                color: negro;
                text-align: $align-justify;
            }
        }
        ol{
            li{
                color: #101010;
                list-style-type: none;
                font-weight: 600;
            }
        }
    }
    form{
        margin-bottom: 25;
        text-align: $align-justify;
        padding: 10px;
        p{
            padding-top: 40px 40px;
        }
        div.gridContainer{
            width: 360px;
        }
    }
    input, select{ margin-bottom: 18px; }

    input[type=reset]{
        width: 200px;
        justify-self: $align-center;
    }
    textarea{ margin-bottom: 32px; }
    main{ animation: mainWhoooosh 0.75s ease-in-out 0s 1 normal none running; /* ayuda-memoria: animation: {name, duration, timing-func, delay, iter-count, dir, fill-mode(??), play-state} */ }    
}

/* seccion CLASES */
.copyRFooter{
    font-size: smaller;
    text-align: $align-center;
    color: #da5010;
    min-width: 450px;
    display: inline;
}
.rowPar{ background-color: #8f8f8f; }
.rowImpar{ background-color: #e2e2e2; }
.dropdown-menu{
    width: 100%;
    background-color: transparent;
    border: 0px;
}

/* seccion IDS */
#titleSection{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #632100;
    font-size: 32px;
}
#top{ margin: 8px; }
#dropdownMenu1{ width: 100%; }

/* seccion EFECTOS */

@keyframes linkFocus{ 
    0%{background-color: #b0b0b0;}
    50%{background-color: #da5010;}
    100%{background-color: #b0b0b0;}
}
@keyframes mainWhoooosh{
    0%{transform: translateY(-500px); opacity: 0%;}
    50%{transform: translateY(100px); opacity: 70%;}
    75%{transform: translateY(-50px); opacity: 85%;}
    100%{transform: translateY(0px); opacity: 100%;}
}

/* seccion RESPONSIVE/media-queries */
@media only screen and (min-width: 480px) {
    body{
        nav{
            margin: 0px 0px 130px 0px;
            ul{
                display: inline;
                li a:hover, li a:focus{ /* aca pdria ir BEM */
                    font-size: 100%;
                    margin-left: 0px;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    body{
        nav{
            margin: 0px;
            ul{
                display: block;
                text-align: $align-justify;
                li a:hover, li a:focus{ /* aca pdria ir BEM */
                    font-size: $font-oversize;
                    margin-left: 20px;
                }
            }
        }
        article p img{
            width: $gal-img-size-md;
            height: $gal-img-size-md;
        }
    }
    .dropdown, #dropdownMenu1{ width: 100px; }
    .copyRFooter{
        display: block;
        font-size: larger;
    }
    #navMenu{
        position: fixed;
        z-index: 2;
        top: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    body{
        nav{
            margin: 0px;
            top: -130px;
        }
        article p img{ /* aca pdria ir BEM */
            width: $gal-img-size-lg;
            height: $gal-img-size-lg;
        }
    }
}
